In [1]:
# importing python libraries for analysis
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import openpyxl

In [2]:
# Show all columns(instead of cascading columns in the middle)
pd.set_option("display.max_columns",None)
# Don't show numbers in scientific notation
pd.set_option("display.float_format","{:.2f}".format)

In [18]:
# reading the csv and xlsx file
df_customer = pd.read_csv("QVI_purchase_behaviour.csv")
df_transactions =pd.read_excel("QVI_transaction_data.xlsx")

In [21]:
#Displaying the data
df_customer.head(5)

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [17]:
df_transactions.head(5)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.00
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.30
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.90
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.00
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.80

In [24]:
#Printing column names, types, and non-null values
df_customer.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [25]:
#Printing column names, types, and non-null values
df_transactions.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 16.2+ MB

In [31]:
df_transactions = df_transactions.astype({"PROD_NAME" : "category"})

In [33]:
df_transactions['PROD_NAME'].dtype

CategoricalDtype(categories=['Burger Rings 220g', 'CCs Nacho Cheese    175g',
                  'CCs Original 175g', 'CCs Tasty Cheese    175g',
                  'Cheetos Chs & Bacon Balls 190g', 'Cheetos Puffs 165g',
                  'Cheezels Cheese 330g', 'Cheezels Cheese Box 125g',
                  'Cobs Popd Sea Salt  Chips 110g',
                  'Cobs Popd Sour Crm  &Chives Chips 110g',
                  ...
                  'WW Crinkle Cut      Chicken 175g',
                  'WW Crinkle Cut      Original 175g',
                  'WW D/Style Chip     Sea Salt 200g',
                  'WW Original Corn    Chips 200g',
                  'WW Original Stacked Chips 160g',
                  'WW Sour Cream &OnionStacked Chips 160g',
                  'WW Supreme Cheese   Corn Chips 200g',
                  'Woolworths Cheese   Rings 190g',
                  'Woolworths Medium   Salsa 300g',
                  'Woolworths Mild     Salsa 300g'],
, ordered=False)